@charset "utf-8";
@font-face {
    font-family: "Spoqa Han Sans";
    /*src: url("/data/font/Spoqa Han Sans Bold.woff");*/
    /*src: url("/data/font/Spoqa Han Sans Light.woff");*/
    src: url("/data/font/Spoqa Han Sans Regular.woff");
    /*src: url("/data/font/Spoqa Han Sans Thin.woff");*/
}

@font-face {
    font-family: "BMDoHyeon";
    /*src: url("/data/font/Spoqa Han Sans Bold.woff");*/
    /*src: url("/data/font/Spoqa Han Sans Light.woff");*/
    src: url("/data/font/BMDOHYEON_otf.woff");
    /*src: url("/data/font/Spoqa Han Sans Thin.woff");*/
}

/* 나눔고딕  */
/*@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');*/

/* SpoqaHanSans  */
/*@import url('http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css');
@import url('/data/font/SpoqaHanSans-kr.css');*/


html,body{
    width:100%;height:100%;
    /* 나눔고딕 적용 */
    /*font-family: 'Noto Sans KR',"맑은 고딕",sans-serif,'dotum','굴림','Spinnaker','gulim','Vertical','Arial';*/

    /* SpoqaHanSans */
    /*font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';*/
    /*font-family: 'Spoqa Han Sans', 'Sans-serif';*/
    font-family: 'Spoqa Han Sans', 'Source Sans Pro', Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, '돋움', Dotum, Verdana, Arial, sans-serif;
    font-size:16px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -moz-font-feature-settings:"liga", "kern";
    font-weight:400;
    color:#464646;
    letter-spacing:-1px
}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {margin:0; padding:0;}

html{overflow-y:scroll;}
body{word-break:break-all;-ms-word-break:break-all;word-break:keep-all;word-wrap:break-word;}
img,fieldset,iframe{border:0 none;}
input[type=checkbox]{border:0 none;}

ul,ol {list-style:none;}
em,address {font-style:normal;}
a {text-decoration:none;}
a,img,button,input{selector-dummy: expression(this.hideFocus=true);}
a,img,button,input{outline: none;selector-dummy:expression(this.hideFocus=true);}
article,aside,dialog,footer,header,section,footer,nav,figure {display:block; margin:0; padding:0;} /* html5 tags */
button {cursor:pointer;}

/* Fire Fox button style bug */
button::-moz-focus-inner {padding:0; border:0;}
