#wrap{position:relative;display:block;margin:0 auto;max-width:1920px;overflow:hidden}
.header-wrap{position:relative;max-width:1920px;height:123px;margin:0 auto;background:#21b8d5;}
.header-wrap.hide{overflow:hidden}

.home-btn{display:none}
.header-wrap .menu{position:absolute;top:44px;left:50%;width:1090px;margin-left:-545px}
.header-wrap .menu>li{position:relative;float:left;width:218px;text-align:center;}
.header-wrap .menu>li:after{position:absolute;top:50%;right:0;display:inline-block;content:"";height:20px;margin-top:-10px;border-right:1px solid #fff}
.header-wrap .menu>li:last-child:after{display:none}
.header-wrap .menu>li>a span{font-size:15px;line-height:20px;color:#fff}
.header-wrap .menu>li .bd{position:absolute;width:64px;margin-left:-32px;bottom:-20px;left:50%;height:4px;background:none;box-shadow: inset 0 0 0 0 #fff;-webkit-transition: ease-out 0.3s;-moz-transition: ease-out 0.3s;transition: ease-out 0.3s;}
.header-wrap .menu>li:hover .bd{box-shadow: inset 64px 0 0 0 #fff;}
.header-wrap .menu>li.act .bd{background:#fff}
.header-wrap .menu:after{content:"";display:block;clear:both}
.header-wrap .menu>li .sub-menu{display:none}

.header-wrap .sns-box{display:none}

.content-wrap .t1{font-size:34px;color:#fff;font-weight:bold;line-height:34px}
.content-wrap .t2{font-size:16px;color:#185367;line-height:24px;font-weight:bold}
.content-wrap .t3{font-weight:bold;font-size:20px;color:#fff;line-height:32px}
.content-wrap .t4{font-size:42px;color:#fff;font-weight:700;line-height:42px}
.content-wrap .t5{font-size:20px;color:#fff}
.content-wrap .t6{font-size:16px;color:#fff;line-height:24px}

.sec-more{width:164px;height:51px;line-height:51px;border-radius: 4px;background-color:  #185367;text-align:center;display:block;font-size:16px;color:#fff}
.sec-more:hover{background:#fff;color:#185367;}


.footer_wrap{position:relative;max-width:1920px;margin:0 auto;overflow:hidden;text-align:center;background:#185367;overflow:hidden;border-top:6px solid #0c3746}
.footer_wrap .inner{position:relative;height:400px;max-width:1350px;margin:0 auto;overflow:hidden;}
.sns_btns{position:absolute;right:0;bottom:45px}
.footer_wrap .sns_btns a{display:inline-block;margin:0 15px}
.footer_wrap .sns_btns a:hover{opacity:0.8}
.footer_wrap .sns_btns{text-align:center;margin-top:50px;}
.footer_wrap table{width:100%;margin-top:50px;}
.footer_wrap table td{text-align:left;padding:15px}
.footer_wrap table td a{display:inline-block;height:70px;border:1px solid #33758b;position:relative;border-radius:5px}
.footer_wrap table td a img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;}
.footer_wrap table th{width:70px;color:#fff;font-size:20px;font-weight:700;text-align:left;}
.footer_wrap .t1{color:#fff;font-size:20px;text-align:left;margin-top:40px;font-weight:600}
.footer_wrap .t2{color:#fff;font-size:14px;text-align:left}
.spa_f_logo a{width:200px;display:inline-block;text-align:center;margin-right:10px;}

.footer_wrap .foot_label{width:auto;text-align:left;}
.footer_wrap .foot_label .foot_label1 p{float:left;color:#fff}
.footer_wrap .foot_label .foot_label2 p{float:left;color:#fff}
.footer_wrap .foot_label .foot_label3 p{float:left;text-align:left;color:#fff}
.footer_wrap .foot_label .foot_label3 ul{float:left;margin-left:30px;}
.footer_wrap .foot_label .foot_label3 ul li{position:relative;display:inline-block;margin-left: 20px;height:60px;border:1px solid #33758b;border-radius:5px;}



/* sub */
.img_middle{display:block;margin:0 auto}
.sub-top{position:relative;max-width:1920px;height:372px;margin:0 auto;background:url('/image/site/sub/sub_top.png')no-repeat center;background-size:cover}
.sub-top .sub-logo{display:block;width:650px;margin:0 auto}

.sub-wrap{position:relative;width:1100px;margin:0 auto}

.sub-wrap .t1{font-size:20px;color:#ffb000;line-height:20px}
.sub-wrap .t2{font-size:52px;color:#fff;line-height:52px}
.sub-wrap .t3{font-size:26px;color:#ffb000;line-height:26px}
.sub-wrap .t4{font-size:18px;color:#fff;line-height:26px}

.info{font-size:15px;color:#ffbc00;padding-top:10px}

.sub-content{max-width:1100px;margin:0 auto;padding:100px 0}

.sub-content2{position:relative;max-width:1100px;margin:0 auto;border-right: 1px solid #dadbdd;}
.sub-content2 .left-snb{position:absolute;;top:0;width:236px;height:970px;}
.sub-content2 .left-snb.act{position:fixed;top:0}
.sub-content2 .left-snb .snb{position:absolute;top:0;left:0;width:236px;height:100%;background:#21b8d5}
.sub-content2 .left-snb .snb>p{padding:50px 20px 0 20px;font-size:30px;color:#fff}
.sub-content2 .left-snb .snb .bd{width:39px;height:3px;background:#9de1ee;margin:20px 20px 40px 20px}

.sub-content2 .left-snb .snb ul.navi{width:100%;margin-bottom:20px}
.sub-content2 .left-snb .snb ul.navi li{position:relative;width:100%;height:50px;line-height:50px;}
.sub-content2 .left-snb .snb ul.navi li a{display:block;font-size:16px;color:#fff;text-indent:20px}
.sub-content2 .left-snb .snb ul.navi li:hover a{background:#185367;color:#fff}
.sub-content2 .left-snb .snb ul.navi li:hover img{display:block;}
.sub-content2 .left-snb .snb ul.navi li.act a{background:#185367}
.sub-content2 .left-snb .snb ul.navi li.act img{display:block}
.sub-content2 .left-snb .snb ul.navi li img{display:none;position:absolute;right:18px;top:50%;margin-top:-5px}

.sub-content2 .left-snb .info_box{display:block;margin:0 auto;width:185px;padding:25px 10px 20px 10px;background:#16a7c3;border-radius: 4px;color:#fff}
.sub-content2 .left-snb .info_box .p1{text-align:center;line-height:24px;font-size:13px;font-weight:bold}
.sub-content2 .left-snb .info_box .p1 span{display:block;line-height:100%;font-size:30px;letter-spacing:-1.5px}
.sub-content2 .left-snb .info_box .sns_box{position:relative;padding-top:17px;border-top:1px solid #079ab4;margin-top:20px}
.sub-content2 .left-snb .info_box .sns_box>p{font-size:13px;font-weight:bold;text-indent:10px}
.sub-content2 .left-snb .info_box .sns_box ul{position:absolute;top:13px;right:0;}
.sub-content2 .left-snb .info_box .sns_box ul li{float:left;margin-right:10px}

.sub-content2 .con-box{position:absolute;right:0;width:863px;background:#f4f6f9;padding-bottom:0}
.sub-content2 .con-box .con{position:relative;width:803px;padding:0 30px 100px 30px;background:#fff}
.sub-content2 .con-box .con .line{width:100%;height:1px;background:#d9dadc;margin-top:20px}
.sub-content2 .con-box .con .s1{color:#545c66;font-size:22px;line-height:19px;padding-top:40px;letter-spacing:-2px}
.sub-content2 .con-box .con .s2{color:#3e4042;font-size:56px;line-height:56px;padding-top:15px;letter-spacing:-3px;font-weight:bold}
.sub-content2 .con-box .con .s3{color:#78828e;font-size:15px;line-height:24px;padding-top:20px}
.sub-content2 .con-box .con .com_btn{display:block;margin:35px auto;border-radius: 4px;background-color:  #185367;width:100%;height: 51px;line-height:51px;color:#fff;line-height:51px;text-align:center;font-size:16px}

.sub-content2 .con-box .con .tit{margin-top:120px;margin-bottom:40px}
.sub-content2 .con-box .con .tit p{font-size:24px;color:#333e4b;font-weight:bold;letter-spacing:-1px}
.sub-content2 .con-box .con .tit .bd{width:32px;height:3px;background:#9ec5cc;margin-top:15px}

.sub-content2 .con-box .con .sub-lst1 li{float:left;width:256px;margin-right:15px;font-size:16px;text-align:center;box-shadow:0px 5px 10px 0px rgba(206, 209, 222, 0.65);}
.sub-content2 .con-box .con .sub-lst1 li .p1{line-height:40px;background:#21b8d5;color:#fff}
.sub-content2 .con-box .con .sub-lst1 li .p2{line-height:80px;background:#fff;color:#545c66}
.sub-content2 .con-box .con .sub-lst1 li:last-child{margin-right:0}

.sub-content2 .con-box .con .sub-lst2 li{position:relative;width:100%;height:260px;margin-bottom:80px;}
.sub-content2 .con-box .con .sub-lst2 li img{position:absolute;top:0;left:0}
.sub-content2 .con-box .con .sub-lst2 li>div{position:absolute;top:10px;right:0;width:210px;height:190px;padding:30px;box-shadow:0px 5px 10px 0px rgba(206, 209, 222, 0.65);}
.sub-content2 .con-box .con .sub-lst2 li .box1{background:#fff;cursor:pointer}
.sub-content2 .con-box .con .sub-lst2 li .box1 .p1{color:#21b8d5;font-size:22px;letter-spacing:-2px;font-weight:bold;line-height:100%}
.sub-content2 .con-box .con .sub-lst2 li .box1 .p1_1{color:#21b8d5;font-size:20px;letter-spacing:-2px;font-weight:bold;line-height:100%}
.sub-content2 .con-box .con .sub-lst2 li .box1 .p2{color:#78828e;font-size:14px;line-height:20px;padding-top:10px;white-space:pre-wrap;}
.sub-content2 .con-box .con .sub-lst2 li .box1 table{position:absolute;bottom:20px;left:30px;width:100%;font-size:14px}
.sub-content2 .con-box .con .sub-lst2 li .box1 table th{position:relative;width:20px;padding:5px 10px 5px 0;color:#78828e;font-weight:400;text-align:left}
.sub-content2 .con-box .con .sub-lst2 li .box1 table th:after{display:inline-block;content:"";position:absolute;top:50%;right:0;height:12px;margin-top:-5px;border-right:1px solid #9dc4cb}
.sub-content2 .con-box .con .sub-lst2 li .box1 table td{position:relative;padding:5px 10px;color:#545c66}
.sub-content2 .con-box .con .sub-lst2 li .box1 table td img{position:relative;width:auto;vertical-align:middle;}
.sub-content2 .con-box .con .sub-lst2 li .box1 table td .crawn{margin-left:10px;margin-top:-5px;width:100px;}

.sub-content2 .con-box .con .sub-lst2 li .box3{background:#fff;cursor:pointer}
.sub-content2 .con-box .con .sub-lst2 li .box3 .p1{color:#21b8d5;font-size:21px;letter-spacing:-2px;font-weight:bold;line-height:100%}
.sub-content2 .con-box .con .sub-lst2 li .box3 .p2{color:#78828e;font-size:14px;line-height:20px;padding-top:10px;white-space:pre-wrap;}
.sub-content2 .con-box .con .sub-lst2 li .box3 table{position:absolute;bottom:20px;left:30px;width:100%;font-size:14px}
.sub-content2 .con-box .con .sub-lst2 li .box3 table th{position:relative;width:20px;padding:2px 10px 2px 0;color:#78828e;font-weight:400;text-align:left}
.sub-content2 .con-box .con .sub-lst2 li .box3 table th:after{display:inline-block;content:"";position:absolute;top:50%;right:0;height:12px;margin-top:-5px;border-right:1px solid #9dc4cb}
.sub-content2 .con-box .con .sub-lst2 li .box3 table td{position:relative;padding:2px 10px;color:#545c66}
.sub-content2 .con-box .con .sub-lst2 li .box3 table td img{position:relative;width:auto;vertical-align:middle;}
.sub-content2 .con-box .con .sub-lst2 li .box3 table td .crawn{margin-left:10px;margin-top:-5px;width:100px;}

.sub-content2 .con-box .con .sub-lst2 li .box2{display:none;background:#21b8d5;z-index:100}
.sub-content2 .con-box .con .sub-lst2 li .box2 a{vertical-align:middle;display:block;width:160px;height:45px;margin:80px auto;border:1px solid #fff;font-size:16px;color:#fff;text-align:center;line-height:45px}
.sub-content2 .con-box .con .sub-lst2 li .box2 a:hover{background:#fff;color:#21b8d5;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}

.sub-content2 .con-box .con .sub-lst3{width:800px}
.sub-content2 .con-box .con .sub-lst3 li{position:relative;float:left;width:390px;height:1420px;margin-bottom:100px;margin-right:20px;background:#fff;box-shadow: 0px 5px 10px 0px rgba(206, 209, 222, 0.65);}
.sub-content2 .con-box .con .sub-lst3 li>img{width:100%;margin-top:20px}
.sub-content2 .con-box .con .sub-lst3 li:nth-child(2n){margin-right:0}
.sub-content2 .con-box .con .sub-lst3 li .p1{padding:0 25px;font-size:13px;color:#78828e;line-height:15px;padding-top:20px}
.sub-content2 .con-box .con .sub-lst3 li .p2{padding:0 25px;font-size:22px;color:#21b8d5;font-weight:bold;line-height:100%;padding-top:20px}
.sub-content2 .con-box .con .sub-lst3 li table{padding:0 30px;width:100%;margin-top:10px;font-size:14px}
.sub-content2 .con-box .con .sub-lst3 li table th{position:relative;width:32px;padding:5px 15px 5px 0;font-weight:400;color:#78828e;vertical-align:top}
.sub-content2 .con-box .con .sub-lst3 li table th:after{position:absolute;top:50%;right:0;display:inline-block;content:"";height:14px;margin-top:-7px;border-right:2px solid #9ec5cc}
.sub-content2 .con-box .con .sub-lst3 li table th.lst-th:after{top:9px !important;margin-top:0 !important}
.sub-content2 .con-box .con .sub-lst3 li table td{color:#545c66;padding:5px 15px;line-height:22px}
.sub-content2 .con-box .con .sub-lst3 li .program_lst{width:334px;margin:0 auto;margin-top:10px}
.sub-content2 .con-box .con .sub-lst3 li .program_lst p{border:1px solid #e1e1e1;background:#f4f4f4;font-size:15px;color:#545c66;text-align:center;border-radius: 4px;padding:20px}
.sub-content2 .con-box .con .sub-lst3 li .program_lst>img{display:block;margin:10px auto}
.sub-content2 .con-box .con .sub-lst3 li .program_lst p>img{margin-bottom:10px}

.sub-content2 .con-box .con .sub-tbl1{width:100%;text-align:center}
.sub-content2 .con-box .con .sub-tbl1 td.th1{color:#fff;font-size:16px;background:#ffbc00}
.sub-content2 .con-box .con .sub-tbl1 td.th2{font-size:16px;background:#f1e6c6}
.sub-content2 .con-box .con .sub-tbl1 td{padding:5px 10px;width:148px;color:#545c66;font-size:15px;background:#fff}
.sub-content2 .con-box .con .sub-tbl1 td span{font-size:12px}

.sub-content .sub-map{display:none}
.sub-map{background:#f3f5f9;height:45px;line-height:45px}
.sub-map ul{margin-top:14px;margin-right:20px}
.sub-map ul li{float:left;color:#78828e;line-height:18px;font-size:12px;margin-right:10px}
.sub-map ul li:last-child{margin-right:0}
.sub-map ul:after{display:block;content:"";clear:both}

@media (max-width: 1000px)
{
    .popup_bx a{display:block;height:430px}
    .home-btn{display:block;position:fixed;left:15px;top:20px;z-index:100}

    .header-wrap{position:fixed;width:auto;top:0;right:-250px;width:250px;height:100%;z-index:1000;background:#195367}
    .header-wrap.act{right:0 !important}

    .header-wrap .menu{position:relative;top:0;right:0;left:0;width:100%;margin:50px 0 15px 30px}
    .header-wrap .menu>li{line-height:50px;position:relative;float:none;width:100%;text-align:left;text-indent:10px;}
    .header-wrap .menu>li:after{display:none}
    .header-wrap .menu>li:last-child:after{display:none}
    .header-wrap .menu>li>a{font-size:16px;line-height:20px;color:#57d3ed !important}
    .header-wrap .menu>li>a span{color:#57d3ed}
    .header-wrap .menu>li .bd{display:none}

    .header-wrap .menu>li .sub-menu{display:block;margin-bottom:20px}
    .header-wrap .menu>li .sub-menu li{height:24px;line-height:24px}
    .header-wrap .menu>li .sub-menu li a{color:#fff;font-size:13px}

    #open-button{position:fixed;z-index:2000;right:5px;top:10px;width:40px;height:40px;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;cursor:pointer;display:block;}
    .navicon-line{position:absolute;width:20px;height:2px;border-radius:1px;background:#e2e2e2;-webkit-transition: all 0.7s ease-out;-moz-transition: all 0.7s ease-out;-o-transition: all 0.7s ease-out;transition: all 0.7s ease-out;}

    .nl1{top:11px;right:10px}
    .nl2{top:19px;right:10px}
    .nl3{top:27px;right:10px}
     #open-button:after{clear:both}
    .menu-open .act>div>div{transform:rotate(225deg);-ms-transform:rotate(225deg);-webkit-transform:rotate(225deg);width:25px;position:absolute;top:20px;right:7px;margin:0;padding:0;}
    .menu-open .act>div>div:first-child{transform:rotate(135deg);-ms-transform:rotate(135deg);-webkit-transform:rotate(135deg);}

    .header-wrap .sns-box{position:relative;display:block;margin:0 20px;border-top:1px solid #57d3ed}
    .header-wrap .sns-box p{font-size:16px;color:#57d3ed;padding-top:20px;text-indent:20px}
    .header-wrap .sns-box ul{position:absolute;top:20px;right:15px;width:auto}
    .header-wrap .sns-box ul li{float:left}
    .header-wrap .sns-box ul li img{-webkit-transition: -webkit-transform .3s ease-in-out;-ms-transition: -ms-transform .3s ease-in-out;transition: transform .3s ease-in-out;}
    .header-wrap .sns-box ul li:hover img{transform:rotate(10deg);-ms-transform:rotate(10deg);-webkit-transform:rotate(10deg);}
    .header-wrap .sns-box ul li a{display:block;}
    .header-wrap .sns-box ul li:nth-child(1){margin-right:15px}
    .header-wrap .sns-box ul:after{content:"";display:block;clear:both}

    .content-wrap .t1{font-size:18px;line-height:18px}
    .content-wrap .t2{font-size:13px;line-height:20px}
    .content-wrap .t3{font-size:13px;line-height:20px}
    .content-wrap .t4{font-size:20px;line-height:20px}
    .content-wrap .t5{font-size:13px}
    .content-wrap .t6{font-size:12px;line-height:20px}

    .sec-more{width:130px;height:35px;line-height:35px;font-size:14px}
    .sec-more:hover{background:#050f1e;color:#ffb000}

    .footer_wrap{padding:0 5px;padding-bottom:60px}
    .footer_wrap .inner{height:auto;}
    .footer_wrap table{display:block;margin-top:30px}
    .footer_wrap table td{padding:5px;width:46%;}
    .footer_wrap table th{padding:0 10px;font-size:14px}
    .footer_wrap table td div{height:50px}
    .footer_wrap table td div img{width:80%}
    .footer_wrap .t1{font-size:16px;text-align:center}
    .footer_wrap .t2{font-size:14px;text-align:center}
    .sns_btns{position:relative;right:auto;bottom:auto}

    /* sub */
    .sub-top{width:auto;height:300px}
    .sub-top .sub-logo{width:288px;padding-top:70px}

    .sub-wrap{width:auto}
    .sub-wrap .t1{font-size:16px;line-height:20px}
    .sub-wrap .t2{font-size:24px;line-height:30px}
    .sub-wrap .t3{font-size:18px;line-height:26px}
    .sub-wrap .t4{font-size:13px;line-height:22px}
    .info{font-size:13px}

    .sub-wrap .sub-content{width:auto;margin:0;padding:10px 10px 50px 10px}
    .sub-content2{max-width:auto}
    .sub-content2 .left-snb{display:none}
    .sub-content2 .con-box{position:relative;;right:0;width:auto;padding-bottom:60px}
    .sub-content2 .con-box .con{width:auto;margin-left:0;margin-top:0;padding:0 10px}
    .sub-content2 .con-box .con .s1{font-size:16px;line-height:15px;padding-top:30px;}
    .sub-content2 .con-box .con .s2{font-size:24px;line-height:24px;padding-top:10px}
    .sub-content2 .con-box .con .s3{font-size:13px;line-height:20px;padding-top:10px}

    .sub-content2 .con-box .con .tit{margin-top:50px;margin-bottom:20px}
    .sub-content2 .con-box .con .tit p{font-size:16px}
    .sub-content2 .con-box .con .tit .bd{margin-top:10px}

    .sub-content2 .con-box .con .sub-lst1{width:60%;display:block;margin:0 auto}
    .sub-content2 .con-box .con .sub-lst1 li{float:none;width:100%;margin-right:0;margin-bottom:30px}
    .sub-content2 .con-box .con .sub-lst1 li .p1{line-height:30px}
    .sub-content2 .con-box .con .sub-lst1 li .p2{line-height:50px;font-size:14px}

    .sub-content2 .con-box .con .sub-lst2 li{width:auto;height:auto;margin-bottom:50px}
    .sub-content2 .con-box .con .sub-lst2 li img{position:relative;width:100%}
    .sub-content2 .con-box .con .sub-lst2 li>div{position:relative;top:0;right:0;width:auto;height:auto;padding:20px 10px;margin-top:-5px}
    .sub-content2 .con-box .con .sub-lst2 li .box1 .p1{font-size:20px}
    .sub-content2 .con-box .con .sub-lst2 li .box1 .p2{font-size:14px;line-height:20px}
    .sub-content2 .con-box .con .sub-lst2 li .box1 table{position:relative;margin-top:20px;top:0px;left:0}

    .sub-content2 .con-box .con .sub-lst2 li .box3 .p1{font-size:20px}
    .sub-content2 .con-box .con .sub-lst2 li .box3 .p2{font-size:13px;line-height:20px}
    .sub-content2 .con-box .con .sub-lst2 li .box3 table{position:relative;margin-top:20px;top:0px;left:0}

    .sub-content2 .con-box .con .sub-lst2 li .box2{display:none !important;position:absolute;top:87%;right:0;width:130px;height:30px;background:none;box-shadow:none;}
    .sub-content2 .con-box .con .sub-lst2 li .box2 a{width:130px;height:30px;margin:0 auto;font-size:13px;line-height:30px;background:#21b8d5;color:#fff;border:none}
    .sub-content2 .con-box .con .sub-lst2 li .box2 a:hover{background:#21b8d5;color:#fff}

    .sub-content2 .con-box .con .sub-lst3{width:auto}
    .sub-content2 .con-box .con .sub-lst3 li{float:none;width:auto;height:auto;padding:10px;margin-bottom:20px;margin-right:0}
    .sub-content2 .con-box .con .sub-lst3 li img{width:100%}
    .sub-content2 .con-box .con .sub-lst3 li .art_ico{width:24px;}
    .sub-content2 .con-box .con .sub-lst3 li .p1{font-size:13px;line-height:13px;padding-top:10px}
    .sub-content2 .con-box .con .sub-lst3 li .p2{font-size:16px}
    .sub-content2 .con-box .con .sub-lst3 li table{width:100%;margin-top:10px;font-size:13px}
    .sub-content2 .con-box .con .sub-lst3 li table th{width:32px;padding:5px 15px 5px 0;font-weight:400;color:#78828e;vertical-align:top}
    .sub-content2 .con-box .con .sub-lst3 li table th:after{position:absolute;top:50%;right:0;display:inline-block;content:"";height:14px;margin-top:-7px;border-right:2px solid #ffbc00}
    .sub-content2 .con-box .con .sub-lst3 li table th.lst-th:after{top:9px !important;margin-top:0 !important}
    .sub-content2 .con-box .con .sub-lst3 li table td{color:#545c66;padding:5px 15px;line-height:22px}
    .sub-content2 .con-box .con .sub-lst3 li .program_lst{width:100%}
    .sub-content2 .con-box .con .sub-lst3 li .program_lst p{padding:10px;}


    .sub-content2 .con-box .con .sub-tbl1 td.th1{font-size:13px}
    .sub-content2 .con-box .con .sub-tbl1 td.th2{font-size:13px}
    .sub-content2 .con-box .con .sub-tbl1 td{padding:5px 7px;width:148px;font-size:13px}


    .sub-content .sub-map{display:block}
    .sub-content2 .sub-map{margin-top:0px}
    .sub-content2 .sub-map li{line-height:13px;font-size:13px}
    .sub-content2 .sub-map li img{width:12px}
    .img_middle{width:100%}
    .layer-pop{height:auto !important;margin:30px auto}
    .sub-content2 .con-box .con .sub-lst3 li .program_lst img{width:100%}
    .sub-content2 .con-box .con .sub-lst3 li .program_lst .art_img_s{width:auto !important}
    .footer_wrap table th{width:auto}
    .footer_wrap table td a{width:100px;}
    .footer_wrap table td a img{max-width:80px}
}

