body {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
img {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
q {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
caption {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
address {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
select {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
hr {
	display: none;
}
img {
	border: 0px currentColor; border-image: none;
}
input {
	border: 0px currentColor; border-image: none;
}
button {
	border: 0px currentColor; border-image: none;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
form {
	border: 0px currentColor; border-image: none;
}
legend {
	border: 0px currentColor; border-image: none;
}
hr {
	border: 0px currentColor; border-image: none;
}
dl {
	list-style: none;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
li {
	list-style: none;
}
body {
	line-height: 1.5em; letter-spacing: -0.5px; font-family: "Nanum Barun Gothic","NotoSansKR","NotoSansKR-Medium","applegothic","¸¼Àº°íµñ","Malgun Gothic","µ¸¿ò",Dotum,Helvetica,"Apple SD Gothic Neo",Sans-serif; font-size: 1em;
}
h1 {
	line-height: 1.5em; letter-spacing: -0.5px; font-family: "Nanum Barun Gothic","NotoSansKR","NotoSansKR-Medium","applegothic","¸¼Àº°íµñ","Malgun Gothic","µ¸¿ò",Dotum,Helvetica,"Apple SD Gothic Neo",Sans-serif; font-size: 1em;
}
h2 {
	line-height: 1.5em; letter-spacing: -0.5px; font-family: "Nanum Barun Gothic","NotoSansKR","NotoSansKR-Medium","applegothic","¸¼Àº°íµñ","Malgun Gothic","µ¸¿ò",Dotum,Helvetica,"Apple SD Gothic Neo",Sans-serif; font-size: 1em;
}
h3 {
	line-height: 1.5em; letter-spacing: -0.5px; font-family: "Nanum Barun Gothic","NotoSansKR","NotoSansKR-Medium","applegothic","¸¼Àº°íµñ","Malgun Gothic","µ¸¿ò",Dotum,Helvetica,"Apple SD Gothic Neo",Sans-serif; font-size: 1em;
}
h4 {
	line-height: 1.5em; letter-spacing: -0.5px; font-family: "Nanum Barun Gothic","NotoSansKR","NotoSansKR-Medium","applegothic","¸¼Àº°íµñ","Malgun Gothic","µ¸¿ò",Dotum,Helvetica,"Apple SD Gothic Neo",Sans-serif; font-size: 1em;
}
h5 {
	line-height: 1.5em; letter-spacing: -0.5px; font-family: "Nanum Barun Gothic","NotoSansKR","NotoSansKR-Medium","applegothic","¸¼Àº°íµñ","Malgun Gothic","µ¸¿ò",Dotum,Helvetica,"Apple SD Gothic Neo",Sans-serif; font-size: 1em;
}
h6 {
	line-height: 1.5em; letter-spacing: -0.5px; font-family: "Nanum Barun Gothic","NotoSansKR","NotoSansKR-Medium","applegothic","¸¼Àº°íµñ","Malgun Gothic","µ¸¿ò",Dotum,Helvetica,"Apple SD Gothic Neo",Sans-serif; font-size: 1em;
}
input {
	line-height: 1.5em; letter-spacing: -0.5px; font-family: "Nanum Barun Gothic","NotoSansKR","NotoSansKR-Medium","applegothic","¸¼Àº°íµñ","Malgun Gothic","µ¸¿ò",Dotum,Helvetica,"Apple SD Gothic Neo",Sans-serif; font-size: 1em;
}
select {
	line-height: 1.5em; letter-spacing: -0.5px; font-family: "Nanum Barun Gothic","NotoSansKR","NotoSansKR-Medium","applegothic","¸¼Àº°íµñ","Malgun Gothic","µ¸¿ò",Dotum,Helvetica,"Apple SD Gothic Neo",Sans-serif; font-size: 1em;
}
textarea {
	line-height: 1.5em; letter-spacing: -0.5px; font-family: "Nanum Barun Gothic","NotoSansKR","NotoSansKR-Medium","applegothic","¸¼Àº°íµñ","Malgun Gothic","µ¸¿ò",Dotum,Helvetica,"Apple SD Gothic Neo",Sans-serif; font-size: 1em;
}
button {
	line-height: 1.5em; letter-spacing: -0.5px; font-family: "Nanum Barun Gothic","NotoSansKR","NotoSansKR-Medium","applegothic","¸¼Àº°íµñ","Malgun Gothic","µ¸¿ò",Dotum,Helvetica,"Apple SD Gothic Neo",Sans-serif; font-size: 1em;
}
q {
	quotes: none;
}
blockquote {
	quotes: none;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
caption {
	font: 1px/1px serif; height: 1px; text-align: left; text-indent: -9999px; overflow: hidden; font-size-adjust: none; font-stretch: normal; opacity: 0;
}
legend {
	font: 1px/1px serif; height: 1px; text-align: left; text-indent: -9999px; overflow: hidden; font-size-adjust: none; font-stretch: normal; opacity: 0;
}
caption {
	
}
legend {
	
}
a {
	color: inherit; text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:focus {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
a:hover {
	transition:border-color 0.4s, background 0.4s, color 0.4s, opacity 0.4s; -webkit-transition: border-color .4s, background .4s, color .4s, opacity .4s;
}
dfn {
	text-transform: none; font-style: normal; font-variant: normal;
}
em {
	text-transform: none; font-style: normal; font-variant: normal;
}
cite {
	text-transform: none; font-style: normal; font-variant: normal;
}
address {
	text-transform: none; font-style: normal; font-variant: normal;
}
sup {
	text-transform: none; font-style: normal; font-variant: normal;
}
sub {
	text-transform: none; font-style: normal; font-variant: normal;
}
table {
	border-width: 0px; margin: 0px; padding: 0px; border-collapse: collapse;
}
tr {
	border-width: 0px; margin: 0px; padding: 0px; border-collapse: collapse;
}
td {
	border-width: 0px; margin: 0px; padding: 0px; border-collapse: collapse;
}
img {
	vertical-align: middle;
}
input {
	vertical-align: middle;
}
select {
	vertical-align: middle;
}
textarea {
	vertical-align: middle;
}
button {
	vertical-align: middle;
}
input[type=text] {
	text-indent: 10px; -webkit-border-radius: 0;
}
input[type=password] {
	text-indent: 10px; -webkit-border-radius: 0;
}
select {
	text-indent: 10px; -webkit-border-radius: 0;
}
input[type=text] {
	border: 1px solid rgb(194, 194, 194); border-image: none; height: 34px; color: rgb(34, 34, 34); line-height: 34px; -webkit-appearance: none;
}
input[type=password] {
	border: 1px solid rgb(194, 194, 194); border-image: none; height: 34px; color: rgb(34, 34, 34); line-height: 34px; -webkit-appearance: none;
}
textarea {
	border: 1px solid rgb(194, 194, 194); border-image: none; height: 34px; color: rgb(34, 34, 34); line-height: 34px; -webkit-appearance: none;
}
button {
	cursor: pointer;
}
button:focus {
	
}
body {
	line-height: 1.5em; font-size: 14px; font-weight: 400; -ms-word-break: keep-all;
}
.trans {
	left: -9999px !important; top: -9999px !important; width: 0px !important; height: 0px !important; overflow: hidden !important; display: block !important; visibility: hidden !important; position: absolute !important;
}
.select {
	border: 1px solid rgb(194, 194, 194); border-image: none; height: 34px; vertical-align: top; display: inline-block; position: relative;
}
.select::after {
	background: url("../img/ico_selt.png") no-repeat center; top: 0px; width: 10px; height: 100%; right: 10px; display: block; position: absolute; content: "";
}
.select label {
	text-align: left; color: rgb(102, 102, 102); line-height: 34px; overflow: hidden; padding-right: 25px; padding-left: 10px; display: block; white-space: nowrap; cursor: pointer; -ms-text-overflow: ellipsis; min-width: 60px;
}
.select .sel_txt {
	text-align: left; color: rgb(102, 102, 102); line-height: 34px; overflow: hidden; padding-right: 25px; padding-left: 10px; display: block; white-space: nowrap; cursor: pointer; -ms-text-overflow: ellipsis; min-width: 60px;
}
.select select {
	left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: absolute; z-index: 2; cursor: pointer; opacity: 0;
}
.check {
	height: 26px; line-height: 26px; display: inline-block; position: relative;
}
.check * {
	vertical-align: top;
}
.check input[type='checkbox'] {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 2; cursor: pointer; opacity: 0;
}
.check label::before {
	background-position: center; border: 2px solid rgb(255, 255, 255); transition:background-image 0.2s cubic-bezier(0.75, 0.1, 0.25, 1); border-image: none; width: 24px; height: 24px; margin-right: 10px; vertical-align: top; display: inline-block; content: " "; box-sizing: border-box; background-repeat: no-repeat; -webkit-transition: background-image 0.2s cubic-bezier(0.75, 0.1, 0.25, 1) 0.0s;
}
.check input[type='checkbox']:checked + label::before {
	background-image: url("../img/i_check.png"); background-size: 24px auto;
}
.radio {
	height: 20px; line-height: 20px; display: inline-block; position: relative;
}
.radio * {
	vertical-align: top;
}
.radio input[type='radio'] {
	left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 2; cursor: pointer; opacity: 0;
}
.radio label::before {
	background: url("../img/radio.png") no-repeat center / 7px auto; border-radius: 50%; border: 1px solid rgb(194, 194, 194); transition:border-color 0.2s cubic-bezier(0.75, 0.1, 0.25, 1), background-image 0.2s cubic-bezier(0.75, 0.1, 0.25, 1); border-image: none; width: 15px; height: 15px; margin-top: 3px; margin-right: 10px; vertical-align: top; display: inline-block; content: ""; box-sizing: border-box; -webkit-transition: border-color 0.2s cubic-bezier(0.75, 0.1, 0.25, 1) 0.0s, background-image 0.2s cubic-bezier(0.75, 0.1, 0.25, 1) 0.0s;
}
.radio input[type='radio']:checked + label::before {
	border-color: rgb(40, 40, 40); background-image: url("../img/radio_on_b.png");
}
